

body {
position: relative;
color: #eee;
}




p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1{
  
  font-family: 'Raleway',  sans-serif;
 
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;

}

h5{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

#portfolio-imgs1{
  background:url("caraok.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100vw;
  height: 50vh;
  z-index: -1;
  display: flex;
  align-items: center;
}


#portfolio-imgs2{
  background:url("jonfinder.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100vw;
  height: 50vh;
  z-index: -1;
  display: flex;
  align-items: center;
}



#portfolio-imgs3{
  background:url("project3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100vw;
  height: 50vh;
  z-index: -1;
  display: flex;
  align-items: center;
}



code{
padding: 5px;
white-space: pre-line;

}

.fas{
  padding-right: 10px;
}

#code-snippet{
  background-color: #EBEAEB;
padding: 25px;
border: 1px grey solid;


}

.navbar-fixed-top.scrolled{
  background-color: #E98F83 !important;
  transition: background-color 200ms linear;
}

#navigation{
  right: 0;
  left: 0;
  min-width: 100vw;
}

#logo{
  font-size: 36px;
}

.nav-item{
  line-height: 10px;

}

.nav-link{
justify-content: right;
}


#section1 {  
background:url("guy.jpeg");
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
width: 100vw;
height: 50vh;
z-index: -1;
display: flex;
align-items: center;
}

#intro{
  font-size: 7vw;
  padding-top: 50%;
  color: white;
text-align: center;
}

#about{
  min-height: 100vh;
}

#section2 {
  width: 100vw;
}



#project-cards{

  /* background: url(project3.jpeg);
  background-size: cover; */
align-content: center;
  color: black;
  font-size: 3vw;
  border:none;
}

#blurbs{
  margin: 25px;
}

#blurbs .col:nth-child(){
  margin-bottom: 50px;
}


#gradient{
padding-bottom: 10vh;
width: 100vw;
margin-top: 100px;
position: relative;
z-index:1;
background: linear-gradient(170deg,  #fff 40%,  #EA6B80 80%, #E98F83
100%);

}


.contact-links, .nav-link {
  float: left;
color: #E98F83
}

#custom-footer{
  background-color: #E98F83;
}


i{
  margin-bottom: 10px;
}

/* Media Queries */

/* mobile */

@media only screen and (max-width: 600px){
body{
  line-height: 150%;
}


#navigation{
max-height: 100px;
  }

  #logo{
    font-size: 24px;
  }

  
}

/* tablet and desktop */

@media only screen and (min-width: 600px){
body{
  line-height: 150%;

}

  #intro{
    font-size: 5vw;
    padding-top: 25%;
    color: white;
  
  }

p{
  font-size: 18px;

  }

 #code-snippet{
    font-size: 18px;
  }


}