

body {
position: relative;
text-decoration: none;
color: white;
background-color: #181818;
}




p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #949495;
}

h1{
  font-family: 'Gothic A1',  sans-serif;
 font-size: 48px;
 line-height: 1.25;
}

h2 {
  font-family: 'Gothic A1', sans-serif;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 3px;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 2;
}


h4 {
  font-family: 'Gothic A1', sans-serif;
font-size: 10px;
text-transform: uppercase;
letter-spacing: 3px;
}

h5{
  font-family: 'Roboto', sans-serif;
}


a{
  text-decoration: none;
}

span{
  font-size: 16px;
  color: white;
}

label{
  font-family: 'Gothic A1', sans-serif;
  font-size: 12px;
}

img{

width: 100vw;
 object-fit: cover;
 border-radius: 50%;
}

code{
padding: 5px;
white-space: pre-line;

}



#code-snippet{
  background-color: #EBEAEB;
padding: 25px;
border: 1px grey solid;


}

.navbar-fixed-top.scrolled{
  background-color: #202022 !important;
  transition: background-color 200ms linear;
}

#navigation{
  right: 0;
  left: 0;
  width: 100vw;
}

#logo{
  font-size: 36px;
}

.nav-item{
  line-height: 10px;

}




#section1 {  
width: 100vw;
}

#intro{
  font-size: 7vw;
  color: white;

}

#about{
  max-height: 100vh;
}

#section2 {
  width: 100vw;
}



#project-cards{
align-content: center;
  font-size: 3vw;
  border:none;
  background-color: transparent;
}

#project-cards a{
  color: grey;
  
}

.card-body{
background-color: #202022;
margin-bottom: 32px;
}

#blurbs{
  margin: 25px;
}

#blurbs .col:nth-child(){
  margin-bottom: 50px;
}

#blurb-row2{
  margin: 25px;
  margin-top: -25px;
}

#gradient{
padding-bottom: 10vh;
width: 100vw;
margin-top: 100px;
position: relative;
z-index:1;
background: linear-gradient(170deg,  #fff 40%,  #EA6B80 80%, #E98F83
100%);

}


#custom-footer{
  background-color: #202022;
}

/* Font Awesome */
.i{

  color: white;
  width: 5px;
  height: 5px;
}

/* Media Queries */

/* mobile */

@media only screen and (max-width: 600px){
body{
  line-height: 150%;
}

.container{
  width: 100%;
}

#navigation{
max-height: 100px;
  }

  #logo{
    font-size: 24px;
  }

  #intro{
    margin-top: 40%;
  }

  #section1{
    margin-bottom: 75px;
  }

  img{
height: 48px;
width: 48px;
}

#profile{
  max-height: 50px;
  align-content: center;
}

/* tablet and desktop */

@media only screen and (min-width: 600px){

body{
  color: black;
}

#navcontainer{
  width: 100% !important;
margin: 0;
}

h1{
  font-size: 5vw;
}

h2{
  font-size: 3vw;
}

h5{
  font-size: 2vw;
}

#about{
  max-height: 75vh;
}

p{
  line-height: 150%;
  font-size: 30px;
 
}

 #code-snippet{
    font-size: 18px;
  }


}